<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.CommitMapper">

    <resultMap id="commit" type="cn.edu.fudan.issueservice.domain.dbo.Commit">
        <id property="commitId" column="commit_id"/>
        <result property="message" column="message"/>
        <result property="developer" column="developer"/>
        <result property="commitTime" column="commit_time"/>
        <result property="repoId" column="repo_uuid"/>
        <result property="developerEmail" column="developer_email"/>
    </resultMap>
    <resultMap id="commitWithParent" type="cn.edu.fudan.issueservice.domain.dbo.Commit">
        <id property="commitId" column="commit_id"/>
        <result property="message" column="message"/>
        <result property="developer" column="developer"/>
        <result property="commitTime" column="commit_time"/>
        <result property="repoId" column="repo_uuid"/>
        <result property="developerEmail" column="developer_email"/>
        <result property="parentCommits" column="parent_commit"/>
    </resultMap>

    <select id="getCommits" parameterType="String" resultMap="commit">
        SELECT commit_id,message,developer,commit_time,repo_uuid,developer_email
        FROM commit
        <where>
            <trim prefixOverrides="and | or">
                <if test="repo_uuid != null  and repo_uuid !=''">
                    AND repo_uuid= #{repo_uuid}
                </if>
                <if test="start_commit_time != null  and start_commit_time !=''">
                    AND <![CDATA[ commit_time > #{start_commit_time} ]]>
                </if>
            </trim>
        </where>
        ORDER BY commit_time DESC
    </select>

    <select id="getCommitViewInfoByCommitId" parameterType="String" resultType="java.util.HashMap">
        SELECT uuid, commit_id, message, developer, commit_time, repo_uuid, developer_email, self_index, parent_commit
        FROM commit
        <trim prefix="where" prefixOverrides="and">
            <if test="repo_uuid != null and repo_uuid != '' ">
                AND repo_uuid = #{repo_uuid}
            </if>
            <if test="commit_id != null and commit_id != '' ">
                AND commit_id = #{commit_id}
            </if>
        </trim>
        Limit 1
    </select>

    <select id="getCommitByCommitId" resultMap="commit">
        SELECT distinct commit_id, message, developer, commit_time, repo_uuid, developer_email
        FROM commit
        WHERE repo_uuid = #{repoUuid}
        AND commit_id = #{startCommit}
    </select>

    <select id="getCommitTimeByCommitId" resultType="String">
        SELECT commit_time
        FROM commit
        WHERE commit_id = #{commit}
        AND repo_uuid = #{repoUuid} LIMIT 1
    </select>

    <select id="getParentCommits" resultType="java.util.Map">
        SELECT DISTINCT commit_id, commit_time
        FROM commit
        WHERE repo_uuid = #{repoUuid}
        AND <![CDATA[ commit.commit_time <= #{commitTime}
        ]]>
    </select>

    <select id="getRepoCountByDeveloper" resultType="java.util.Map">
        SELECT aa.account_name, group_concat(DISTINCT c.repo_uuid) FROM commit c inner join account_author aa on
        c.developer = aa.account_gitname
        <trim prefix="where" prefixOverrides="and">
            <if test="repoUuids != null and repoUuids.size > 0">
                AND c.repo_uuid IN
                <foreach collection="repoUuids" separator="," open="(" close=")" item="repoUuid">
                    #{repoUuid}
                </foreach>
            </if>
            <if test="since != null and since != '' ">
                AND <![CDATA[ c.commit_time >= #{since} ]]>
            </if>
            <if test="until != null and until != '' ">
                AND <![CDATA[ c.commit_time <= #{until} ]]>
            </if>
            <if test="developers != null and developers.size > 0">
                AND aa.account_name IN
                <foreach collection="developers" separator="," open="(" close=")" item="developer">
                    #{developer}
                </foreach>
            </if>
        </trim>
        GROUP BY aa.account_name
    </select>
    <select id="getCommitsInDeveloperAndPeriod" resultMap="commitWithParent">
        SELECT commit_id,message,developer,commit_time,repo_uuid,developer_email,parent_commit
        FROM commit
        <where>
            repo_uuid = #{repoUuid}
            <if test="developer != null and developer != '' ">
                AND <![CDATA[ developer >= #{developer} ]]>
            </if>
            <if test="since != null and since != '' ">
                AND <![CDATA[ commit_time >= #{since} ]]>
            </if>
            <if test="until != null and until != '' ">
                AND <![CDATA[ commit_time <= #{until} ]]>
            </if>
        </where>
    </select>
</mapper>
