<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.RepoMetricMapper">

    <resultMap id="repoMetric" type="cn.edu.fudan.issueservice.domain.dbo.RepoMetric">
        <result property="repoUuid" column="repo_uuid"/>
        <result property="bestMax" column="best_max"/>
        <result property="bestMin" column="best_min"/>
        <result property="betterMax" column="better_max"/>
        <result property="betterMin" column="better_min"/>
        <result property="normalMax" column="normal_max"/>
        <result property="normalMin" column="normal_min"/>
        <result property="worseMax" column="worse_max"/>
        <result property="worseMin" column="worse_min"/>
        <result property="worstMax" column="worst_max"/>
        <result property="worstMin" column="worst_min"/>
    </resultMap>

    <select id="getDeveloperLivingIssueLevel" resultMap="repoMetric" resultType="map">
        SELECT repo_uuid,
               best_max,
               best_min,
               better_max,
               better_min,
               normal_max,
               normal_min,
               worse_max,
               worse_min,
               worst_max,
               worst_min
        FROM repo_metric
    </select>
</mapper>
